# Agrupamento

In [4]:
df = read.csv("../dados/iris-dataset.csv", header=FALSE)
colnames(df) = c("sepal_length", "sepal_width", "petal_length", "sepal_width", "species")

In [5]:
aggregate(df$sepal_length, by=list(species=df$species), mean)

  species         x
1 Iris-setosa     5.006
2 Iris-versicolor 5.936
3 Iris-virginica  6.588

In [6]:
aggregate(df$sepal_length, by=list(species=df$species), sd)

  species         x
1 Iris-setosa     0.3524897
2 Iris-versicolor 0.5161711
3 Iris-virginica  0.6358796

In [7]:
aggregate(sepal_length ~ species, df, mean)

  species         sepal_length
1 Iris-setosa     5.006
2 Iris-versicolor 5.936
3 Iris-virginica  6.588

In [30]:
aggregate(cbind(sepal_length, sepal_width) ~ species, df, mean)

  species         sepal_length sepal_width
1 Iris-setosa     5.006        3.418
2 Iris-versicolor 5.936        2.770
3 Iris-virginica  6.588        2.974

In [31]:
aggregate(. ~ species, df, mean)

  species         sepal_length sepal_width petal_length
1 Iris-setosa     5.006        3.418       1.464
2 Iris-versicolor 5.936        2.770       4.260
3 Iris-virginica  6.588        2.974       5.552